@{
    ViewData["Title"] = "Home Page";
}

<h2>@ViewData["Welcome"]</h2>
<h3>@ViewData["Welcome to our movie project!"]</h3>

<img src="~/images/Movies.jpg" alt="Movies" class="img-responsive" />
<p>While trying to know how to work with Docker, we tried out how to work with asp.net as well. This is the result of our hard work, we hope you enjoy it as much as we do.</p>
<h3>Nicky & Liesbeth!!!</h3>
